.dart_tool/
.packages
.pub/
build/
coverage/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
.vscode/
*.iml
.DS_Store
android/.gradle/
android/local.properties
android/key.properties
ios/Flutter/ephemeral/
ios/Pods/
ios/.symlinks/
*.xcuserstate
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
.env

__pycache__/
*.py[cod]
